/* Define color variables */

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --background-color: #F8FEF2;
    --primary-color: #0D5239;
    --secondary-background: rgba(13, 82, 57, 0.0625);
    --border-color: rgba(13, 82, 57, 0.3125);
    --placeholder-background: #EAEAEA;
    --placeholder-text: #D9534F;
    --footer-background: #0D5239;
}

@font-face {
    font-family: 'ABCMonumentGrotesk';
    src: url('./fonts/ABCMonumentGroteskSemi-Mono-Regular-Trial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ABCMonumentGrotesk';
    src: url('./fonts/ABCMonumentGroteskSemi-Mono-Bold-Trial.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ABCMonumentGrotesk';
    src: url('./fonts/ABCMonumentGroteskSemi-Mono-Black-Trial.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

body {
    background: #F8FEF2 url('images/topo-map.svg') repeat;
    font-family: 'ABCMonumentGrotesk', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--primary-color);
    background-size: cover; /* Adjust as needed */
    background-position: top center; /* Adjust as needed */
    background-attachment: fixed; /* Keeps it fixed while scrolling */
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 48px 0;
}

.header {
    text-align: left;
    max-width: 800px;
    margin: auto;
    padding: 16px;
    height: 60vh;
    align-content: center;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 36px;
    margin: 16px 0;
}

.header p {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    margin: 16px 0;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 16px;
}

.buttons {
    display: flex;
    gap: 16px;
    margin: 16px 0;
    justify-content: flex-start;
}

.btn-primary {
    font-family: 'ABCMonumentGrotesk', sans-serif;
    background: var(--primary-color);
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 9999px;
}

.btn-secondary {
    font-family: 'ABCMonumentGrotesk', sans-serif;
    background: var(--secondary-background);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 9999px;
}

.btn-tertiary {
    font-family: 'ABCMonumentGrotesk', sans-serif;
    background: none;
    color: var(--primary-color);
    border: none;
    padding-block: 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    gap: 4px;
    align-content: center;
    text-decoration: none;
    max-width: fit-content;
    
}

.image-wrapper {
    padding: 16px;
    max-width: 800px;
    margin: auto;
}

.full-width-image {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 20px auto;
    border: 2px solid var(--border-color);
    border-radius: 12px;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section-header {
    padding: 16px;
    max-width: 800px;
    margin: auto;
}

.section-header p {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 16px;
}

.projects {
    text-align: center;
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    max-width: 800px;
    margin: auto;
    padding: 16px;
    perspective: 1000px;
}

.project-card {
    background: var(--secondary-background);
    backdrop-filter: blur(10px);
    padding: 16px;
    border-radius: 12px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--border-color);
    transition: transform 0.1s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
    cursor: pointer;
}

.project-card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.project-card .image-container {
    width: 100%;
    height: 200px;
    background: var(--placeholder-background);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 16px;
    color: var(--placeholder-text);
}

.tags {
    display: flex;
    gap: 8px;
    margin-top: 8px;
    flex-wrap: wrap;
}

.tags span {
    display: inline-block;
    background: var(--secondary-background);
    border: 1px solid var(--primary-color);
    padding: 4px 8px;
    font-size: 10px;
    line-height: 10px;
    border-radius: 8px;
    font-weight: 600;
}

.footer {
    background: var(--footer-background);
    text-align: center;
    padding: 16px;
    color: white;
    margin-top: 30vh;
}
